[Unit]
Description=ONVIF Device(IP camera) Service server
After=network-online.target

[Service]
Type=forking
ExecStart=/sbin/onvif_srvd

TimeoutSec=4

Restart=always
RestartSec=2
StartLimitBurst=0

[Install]
WantedBy=multi-user.target
